*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#F6F5F3;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

/*header*/
header {
    background-color:white;
    height:70px;
}

h1{
    font-family:'Nerko One', cursive;
    text-align:center;
    align-items:center;
    color: #fb900a;
    font-weight:normal;
    line-height:70px;
    font-size:40px;
}

.hidden{
    display:none;
} 

/*container principale*/
.container{
    width:90%;
    margin: 20px auto;
}

/*prima sezione con immagine e ricetta
.info_recipe, .presentation{
    --debug--
    height:700px;
    background-color:rgb(2, 47, 62);
    border: solid 1px black;
}*/

h5{
    color:#989692;
    font-weight:normal;
}

h2{
    color:#3d2c69;
    margin:10px 0;
}

.info_recipe{
    background-color:white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    padding-left:20px;
}

.video img{
    max-width:100%;
    display:block;
}

.info_recipe h4{
    padding-top:20px;
}

/*descrizione*/
.in_short {
    background-color:white;
    list-style-type:none;
    font-size: 12px;
    line-height:25px;
    padding-bottom:30px;
}

h4 {
    margin-bottom:20px;
}

.strong {
    font-weight:bold;
}

/*icone*/
.icons{
    margin:20px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /*debug*/
    /* height:40px;
    background-color:rgb(224, 242, 34); */
}

.fa-brands{
    background-color:white;
    padding:10px;
    border-radius:50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

.fa-facebook{
    color: #0562f0;
}

.fa-twitter{
    color: #009cff;
}

.fa-instagram{
    color:#b43c5a;
}

.fa-pinterest, .fa-youtube{
    color:#e42833;
}

/*nomi dei social*/
.social_name{
    display:none;
}

/*banner*/
.banner{
    display:none;
}

.banner img{
    max-width:100%;
}

/*sezione presentazione*/
#presentation_title{
    color:black;
    font-weight:normal;
    margin-bottom:20px;
    padding-bottom:10px;
    position:relative;
}

/*linea arancione sotto "presentation"*/
#presentation_title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 1px;
    background-color: orange;
}

.tiramisù{
    margin:auto;
    width:60%;
}

.tiramisù img{
    max-width:100%;
    margin-bottom:10px;
}

.presentation p{
    font-size:14px;
    line-height:25px;
    padding-bottom:40px;
}

/*footer*/
footer{
    background-color:#7C69A4;
    color:white;
    font-size:10px;
}

.footer-content {
    text-align:center;
    align-items:center;
    line-height:20px;
    font-size:10px;
    width:80%;
    margin:0 auto;
    padding:20px 0;
}

/*navbar footer*/
.footer-navbar{
    display:flex;
    justify-content:space-around;
    list-style-type:none;
}

.footer-navbar a {
    color:white;
}

@media screen and (min-width:768px){
    h1 {
        text-align:left;
        margin-left:10px;
    }

    .container{
        padding: 20px;
    }

    .hidden{
        display:inline;
    }

    .title{
        font-size:30px;
    }

    .in_short{
        display:flex;
        gap:20px; 
        flex-wrap:wrap;
    }

    .in_short li{
        flex-basis:30%;
       }
    
    .fa-brands{
        padding-left:50px;
        padding-right:50px;
    }

    .banner{
        display:block;
    }

    .tiramisù{
        width:100%;
    }

    .tiramisù img{
        float:left;
        width:30%;
        margin-right:20px;
    }

    .footer-navbar{
        width:60%;
        margin:0 auto;
    }
    .footer-navbar{
        display:flex;
        justify-content:space-between;
    }
}

@media screen and (min-width:992px){
    .container{
        width:60%
    }

    .title{
        font-size:40px;
    }

    .in_short{
        display:block;
    }

    .recipe{
        display:flex;
    }

    .video{
        width:70%;
    }

    .info_recipe{
        width:30%;
    }

    .social_name{
        display:inline-block;
        color:black;
        font-size:10px;
        margin-left:4px;
        vertical-align:middle;
    }

    .banner img{
        width:100%;
    }

    .footer-content{
        display:flex;
        flex-basis:30%;
        justify-content:space-between;
        text-align:left;
        width:100%;
        padding-left:20px;
        padding-right:20px;
    }

    .footer-navbar{
        display:flex;
        gap:20px;
        width:100%;
    }

    .footer-navbar li{
        display:flex;
        justify-content:space-between;
    }

    .tiramisù img{
        float:left;
        width:30%;
        margin-right:20px;
    }
}
